@font-face {
    font-family: "Helvetica";
    src: url("/fonts/helvetica_regular.otf") format(opentype);
    font-weight: 150 ;
    font-style: normal;
}
.fon1{
    height: 60vw;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    z-index: 0;
}

.first_text_block{
    display: inline-flex;
    white-space: nowrap;
}

.first_block{
    overflow-x: hidden;
    white-space: nowrap; 
    width: 100%;
    height: 60vw; 
    position: absolute;
}
.text1{
    display: inline-block;
    animation: text1 15s linear infinite;
    font-size: 150px;
    font-family: Helvetica;
    color: #0C255A;
}

@keyframes text1 {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.rain {
  position: absolute;
  width: 100vw;
  height: 27vw; 
  z-index: 1;   
  overflow: hidden;
 
 
}
.kaply {
  position: absolute;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   width: 3vw;
  height: 5vw; 

}

@keyframes fall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120vh);
  }
}
.kaply1  { left: 5%;   animation-duration: 1.2s; animation-delay: 0.1s; }
.kaply2  { left: 12%;  animation-duration: 1.5s; animation-delay: 0.4s; }
.kaply3  { left: 18%;  animation-duration: 1.1s; animation-delay: 0.7s; }
.kaply4  { left: 25%;  animation-duration: 1.7s; animation-delay: 0.2s; }
.kaply5  { left: 32%;  animation-duration: 1.3s; animation-delay: 0.9s; }
.kaply6  { left: 39%;  animation-duration: 1.0s; animation-delay: 0.3s; }
.kaply7  { left: 46%;  animation-duration: 1.8s; animation-delay: 1.1s; }
.kaply8  { left: 52%;  animation-duration: 1.2s; animation-delay: 0.6s; }
.kaply9  { left: 59%;  animation-duration: 1.1s; animation-delay: 1.3s; }
.kaply10 { left: 66%;  animation-duration: 1.5s; animation-delay: 0.8s; }
.kaply11 { left: 73%;  animation-duration: 1.4s; animation-delay: 1.5s; }
.kaply12 { left: 79%;  animation-duration: 1.0s; animation-delay: 1.0s; }
.kaply13 { left: 85%;  animation-duration: 1.3s; animation-delay: 0.5s; }
.kaply14 { left: 92%;  animation-duration: 1.7s; animation-delay: 1.2s; }
.kaply15 { left: 9%;   animation-duration: 1.5s; animation-delay: 1.7s; }
.kaply16 { left: 22%;  animation-duration: 1.1s; animation-delay: 1.4s; }
.kaply17 { left: 37%;  animation-duration: 1.7s; animation-delay: 1.9s; }
.kaply18 { left: 54%;  animation-duration: 1.2s; animation-delay: 1.6s; }
.kaply19 { left: 71%;  animation-duration: 1.0s; animation-delay: 2.1s; }
.kaply20 { left: 64%;  animation-duration: 1.5s; animation-delay: 0.9s; }
.kaply21 { left: 77%;  animation-duration: 1.4s; animation-delay: 1.2s; }
.kaply22 { left: 81%;  animation-duration: 1.0s; animation-delay: 1.8s; }
.kaply23 { left: 88%;  animation-duration: 1.3s; animation-delay: 0.7s; }
.kaply24 { left: 94%;  animation-duration: 1.8s; animation-delay: 1.4s; }
.kaply25 { left: 13%;  animation-duration: 1.2s; animation-delay: 2.3s; }
.kaply26 { left: 26%;  animation-duration: 1.5s; animation-delay: 2.0s; }
.kaply27 { left: 41%;  animation-duration: 1.1s; animation-delay: 2.5s; }
.kaply28 { left: 57%;  animation-duration: 1.7s; animation-delay: 2.2s; }
.kaply29 { left: 74%;  animation-duration: 1.3s; animation-delay: 2.7s; }
.kaply30 { left: 7%;   animation-duration: 1.2s; animation-delay: 0.2s; }
.kaply31 { left: 15%;  animation-duration: 1.5s; animation-delay: 1.0s; }
.kaply32 { left: 21%;  animation-duration: 1.2s; animation-delay: 0.6s; }
.kaply33 { left: 29%;  animation-duration: 1.7s; animation-delay: 1.3s; }
.kaply34 { left: 35%;  animation-duration: 1.4s; animation-delay: 1.8s; }
.kaply35 { left: 43%;  animation-duration: 1.1s; animation-delay: 0.4s; }
.kaply36 { left: 49%;  animation-duration: 1.6s; animation-delay: 2.4s; }
.kaply37 { left: 56%;  animation-duration: 1.3s; animation-delay: 0.9s; }
.kaply38 { left: 63%;  animation-duration: 1.0s; animation-delay: 1.6s; }
.kaply39 { left: 68%;  animation-duration: 1.5s; animation-delay: 2.1s; }



.left_flower{
    z-index: 2;
    position: absolute;
    margin-top: 19.8vw;
    margin-left: 0.2vw;
    width: 32vw;
    height: 29vw;
}

.right_flower{
    z-index: 2;
    position: absolute;
    margin-left: 68vw;
    margin-top: 19.5vw;
    width: 32vw;
    height: 29vw;

}

.three_flowers {
  position: relative;
  height: 69%;
}

.center_buton {
  position: absolute;
  top: 68.5%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 41vw;
  width: 36vw;
  opacity: 1;
  z-index: 2;
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: Button 3.3s infinite;
}

.center_flower {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  width: 36vw;
  height: 34vw;
  opacity: 0;
  z-index: 3;
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: Flower 3.3s infinite;
}

@keyframes Button {
  0%, 45% { 
    opacity: 1; 
    height: 41vw; 
    transform: translateX(-50%) translateY(-50%);
  }
  55%, 100% { 
    opacity: 0; 
    height: 34vw; 
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }
}

@keyframes Flower {
  0%, 45% { 
    opacity: 0; 
    transform: translateX(-50%) translateY(-50%) scale(0.8);
  }
  55%, 100% { 
    opacity: 1; 
    transform: translateX(-50%) translateY(-50%) scale(1.1);
  }
}
.raschestka{
  margin-top: 15vw;
  margin-left: 51vw;
  position: absolute;
  z-index: 3;
  width: 8vw;
  height: 12vw; 
  transform-origin: bottom center;  
  animation: sway 2s ease-in-out infinite;
}

@keyframes sway {
  0%, 100% { 
    transform: rotate(-15deg); 
  }
  50% { 
    transform: rotate(15deg); 
  }
}
.lipstick{
  width: 5vw;
  height:15vw;
  margin-left: 84vw;
  margin-top: 23vw;
  position: absolute;
  z-index: 3;
  animation: lipstick-move 2s ease-in-out infinite;
}

@keyframes lipstick-move{
  from {
    transform: translateX(-3vw);     
  }
  to {
    transform: translateX(0vw); 
  }
}

.gubi{
  width: 5vw;
  height:15vw;
  margin-left: 81vw;
  margin-top: 22vw;
  position: absolute;
  z-index: 2;
}

.blush{
   opacity: 1;                     
   animation: blush-pulse 1.5s ease-in-out infinite alternate;
   position: absolute;
   z-index: 2;
}

@keyframes blush-pulse {
  from {
    opacity: 0.2;                    
  }
  to {
    opacity: 1;                       
  }
}
.rumana{
  width: 3vw;
  height: 3vw;
  margin-top: 28vw;
  margin-left: 10vw;
  position: absolute;
  z-index: 2;

}
.rumana2{
  width: 3vw;
  height: 3vw;
  margin-top: 28vw;
  margin-left: 19vw;
  position: absolute;
  z-index: 2;
}
.kist{
  margin-top: 19vw;
  width: 8vw;
  height: 19vw;
  margin-left: 19vw;
  position: absolute;
  z-index: 2;
  transform-origin: center center;             
  animation: kist-swing 1s ease-in-out infinite alternate;
}

@keyframes kist-swing {
  from {
    transform: rotate(-10deg);                
  }
  to {
    transform: rotate(10deg);                  
  }
}
